{% extends "layout.html" %}

{% block content %}
    <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-user"></i>
                        <h1>About Me /</h1>
                        <p>Más información</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text -->
        <div class="about-us-container">
        	<div class="container">
	            <div class="row">
	                <div class="col-sm-12 about-us-text wow fadeInLeft">
			   <p>
			     Desarrollador Software desde hace 4 años. En esta web-CV he querido plasmar todo lo que he aprendido en estos años que llevo en trabajando. 
  			   </p>
			    <p> Tecnologías usadas: PHP (MVC), bootstrap, font awesome, twig templates, Silex para enrutar.
			   </p> 
	                    <h3>Estudios</h3>
	                    <p>
	                    	- <b>Grado en ingeniería informática, Universidad Alcalá de Henares (2009 – 2013)</b>: Mi primer contacto con la informática, un punto de inflexión de todo lo que vendría más adelante. Especialidad en Ingeniería del software, gracias a las optativas: 
				<ul>
				<li>Patrones software</li>
				<li>Calidad, pruebas y mantenimiento del software</li>
				<li>Arquitectura y diseño de sistemas web y C+/S</li>
				<li>Modelos avanzados de bases de datos</li>
				</ul>
 				</p>
			<p>
			- <b>Máster en Ingeniería web, Universidad Politécnica de Madrid (2014 – 2015)</b>: Este máster me ha sido de gran ayuda para aumentar mis conocimientos sobre mundo web, algunos de ellos para poder realizar trabajo en equipo de forma satisfactoria: la importancia de las buenas prácticas, la enseñanza de metodologías tanto ligeras como pesadas, la importancia de la refactorización y el código limpio...
			Muy satisfecho con la organización del Máster, así como con los profesores los cuales mostraron todo su apoyo durante el curso aún siendo en el turno de fin de semana.
			</p>
	                   
	                    <h3>Empresas</h3>
	                    <p>
	                    	<b>Innovae:</b> Mi primera empresa, una pequeña consultora la cual me dió la oportunidad de ingresar en el mundo laboral cuando aún estaba con el último año de carrera.
Dentro de Innovae, empezando como becario llegue a realizar diferentes tareas:
				<ul>
					<li>Desarrollador en cualquier tecnología que entrase como proyecto móvil o web</li>
					<li>Gestión de proyectos: estimar tareas y coordinación con los compañeros para llegar a tiempo a los hitos</li>
					<li>Presupuestar proyectos: cálculo y preparación de ofertas para nuevos clientes</li>
					<li>Trato directo con los clientes llevando sus proyectos/li>
				</ul>


 				</p>
	                    </p>
			<p>
			<b>bq:</b> En bq he estado en dos grandes proyectos, el primero con la tecnología Grails y el segundo con Salesforce en ambos el objetivo ha sido y es mejorar los diferentes procesos de la empresa con el objetivo de sacar mayor partido a la infomación.
				<ul>
					<li>Full stack developer</li>
					<li>Servicios Web</li>
					<li>Metodología KANBAN</li>
					<li>Salesforce: extensión del CRM e integraciones con los diferentes departamentos /li>
				</ul>

			</p>
	                    <h3>Cursos y certificaciones</h3>
	                    <p>
				<ul>
					<li>Programación de Aplicaciones y Juegos para Android (21809/UAH)</li>
					Curso de toma de contacto con Android
					<li>MuleSoft.U Developer Essentials</li>
					Certificación de uso de 'Anypoint Platform' para la construcción de APIs y realizar integraciones
				</ul>
	                    	
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>

<br/>
<br/>

        
{% endblock %}
