{% extends "layout.html" %}

{% block content %} 
<!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-envelope"></i>
                        <h1>Contacto /</h1>
                        <p>Zona de contacto</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us-container">
        	<div class="container">
	            <div class="row">
	                <div class="col-sm-7 contact-form wow fadeInLeft">
	                    <p>
	                    	Si deseas hacer alguna pregunta o sugerencia, podéis contactar conmigo a través de este formulario:
	                    </p>
	                    <form role="form" action="assets/sendmail.php" method="post">
	                    	<div class="form-group">
	                    		<label for="contact-name">Nombre</label>
	                        	<input type="text" name="name" placeholder="Introduce tu nombre..." class="contact-name" id="contact-name">
	                        </div>
	                    	<div class="form-group">
	                    		<label for="contact-email">Email</label>
	                        	<input type="text" name="email" placeholder="Introduce tu email..." class="contact-email" id="contact-email">
	                        </div>
	                        <div class="form-group">
	                        	<label for="contact-subject">Asunto</label>
	                        	<input type="text" name="subject" placeholder="Tu asunto..." class="contact-subject" id="contact-subject">
	                        </div>
	                        <div class="form-group">
	                        	<label for="contact-message">Mensaje</label>
	                        	<textarea name="message" placeholder="Tu mensaje..." class="contact-message" id="contact-message"></textarea>
	                        </div>
	                        <button type="submit" class="btn">Enviar</button>
	                    </form>
	                </div>
 			<div class="col-sm-5 contact-form fadeInLeft">
                        <p>
	                     O a través de los siguientes canales:	
	                </p>

			<ul>
				<li>Linkedin: <a href="https://es.linkedin.com/in/jorgelillo" target = "_blank"><i class="fa fa-linkedin"></i></a></li>
				<li>Facebook: <a href="https://es-la.facebook.com/jorgelillo7" target = "_blank"><i class="fa fa-facebook"></i></a></li>
				<li>Github: <a href="https://github.com/jorgelillo7" target = "_blank"><i class="fa fa-github"></i></a></li>
				<li>Twitter: <a href="https://twitter.com/jorgelillo7" target = "_blank"><i class="fa fa-twitter"></i></a></li>
			</ul>
 			 
                       
                    	</div>

	                
	            </div>
	        </div>
        </div>
{% endblock %}
