{% extends "layout.html" %}

{% block content %} 
<!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-envelope"></i>
                        <h1>Contacto /</h1>
                        <p>Zona de contacto</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us-container">
        	<div class="container">
	            <div class="row">
	                <div class="col-sm-7 contact-form wow fadeInLeft">
	                    <p>
	                    	Si deseas hacer alguna pregunta o sugerencia, podéis contactar conmigo a través de:
	                    </p>  
	                    <li><a href="mailto:jorge.lillo9@gmail.com?Subject=Contacto%20desde%20jorgelilloweb" target="_top">Send Mail</a>
	                    </li>
	                    <li><a href="https://es.linkedin.com/in/jorgelillo" target = "_blank">Linkedin</a> </li>
						<li><a href="https://es-la.facebook.com/jorgelillo7" target = "_blank">Facebook</a></li>
						<li><a href="https://github.com/jorgelillo7" target = "_blank">Github</a></li>
						<li><a href="https://twitter.com/jorgelillo7" target = "_blank">Twitter</a></li>
	                </div>
	            </div>
	            <div class="row">
	             <img src="assets/img/thanks.jpg">
	            </div>
	        </div>
        </div>
{% endblock %}
