{% extends "layout.html" %} 

{% block content %}
 <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-tasks"></i>
                        <h1>Detalles </h1>
                        <p><a class="big-link-1" href="../portfolio">Volver</a></p>
                    </div>
                </div>
            </div>
        </div>


	{% if id == 1 %}
	  <div style="font-style: normal;  font-size: 16px;">
        	<div class="container">
        	<br/>
        		<div class="row">
					<p><b>SPIBER: Gestión médica</b></p>
				</div>

				<div class="row">
					<img src="../assets/img/portfolio/spiber.jpg" alt="" data-at2x="../assets/img/portfolio/spiber.jpg">
					<br/>
					<br/>
				</div>
			
				<div class="row">
				<p>
				Aplicación web basada en Java para la gestión de clientes, citas y personal de una conocida sociedad médica. 
				</p>
				</div> 

				<div class="row">
				<p>
				Desarrollo de la lógica de negocio en el backend y mejoras visuales en el front.
				</p>
				<br/>
				</div> 

				<div class="row">
				<p>
				Tecnologías: <br/> 

				
					- Java6 <br/> 
					- Struts2 <br/> 
					- Hibernate <br/> 
					- Tortoise SVN <br/> 
					- SQL Server <br/> 
					- Sencha <br/> 
				</p>
				</div>

			 
			</div>
		</div>
	{% endif %}

	{% if id == 2 %}
		 <div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>El mundo promociones: Acceso fácil a las promociones del periódico</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/elmundo.png" alt="" data-at2x="../assets/img/portfolio/elmundo.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
						Aplicación android para poder consultar las promociones actuales del periódico El Mundo. 
						Si se lleva a cabo el registro en la aplicación, será posible agregar las promociones que se desee al calendario de la aplicación.
						<br/>
						Gracias al sistema de notificaciones se podrá recordar al interesado que el periódico deseado se encuentra a la venta.
							<br/>
						También se añade la posibilidad de compartir las promociones en las redes sociales para avisar a sus conocidos.
						</p>
					</div> 

					<div class="row">
						<p>
							Desarrollo de la aplicación android de versión 2.2 en adelante
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- Android <br/> 
						- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div>
	{% endif %}

	{% if id == 3 %}
		 <div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>Ioncor: Algoritmos y cálculos médicos</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/ioncor.png" alt="" data-at2x="../assets/img/portfolio/ioncor.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
					Aplicación médica para consultar datos y calcular estadios de diversas enfermedades.
					</p>
					</div> 

					<div class="row">
						<p>
							Miembro del equipo desarrollo de las aplicaciones para android e ios
						</p>
					<br/>
					<br/>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- Android <br/> 
						- GIT <br/> 
						- ios (objetive-c)<br/> 
					</p>
					</div>

				 
				</div>
			</div> 
	{% endif %}

{% if id == 4 %}
	 <div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>UDA: unidad de dolor agudo</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/uda.png" alt="" data-at2x="../assets/img/portfolio/uda.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
					Aplicación ios (iPad) para la gestión de pacientes y control de sus casos, así como un módulo de estadísticas.
					</p>
					</div> 

					<div class="row">
						<p>
							Miembro del equipo desarrollo de la aplicación ios (versión ipad)
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- ios (objetive-c)<br/> 
						- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 
	{% endif %}

	{% if id == 5 %} 
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>Omniocio: salas infantiles </b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/omni.png" alt="" data-at2x="../assets/img/portfolio/omni.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
					Aplicación de gestión para los diversos procesos de una empresa de salas infantiles. 
					</p>
					</div> 

					<div class="row">
						<p>
							Desarrollo del backend y el frontend de la aplicación web
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- ASP.NET<br/> 
						- html5 <br/> 
						- javascript <br/> 
						- jquery <br/>
						- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 
	{% endif %}

	{% if id == 6 %}
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>TheMICEworld: eventos mice</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/mice.png" alt="" data-at2x="../assets/img/portfolio/mice.png">
						<br/>
					</div>
				
					<div class="row">
					<p>
					Aplicación PHP para la reserva de lugares para reuniones y convenciones (Eventos MICE)
					</p>
					</div> 

					<div class="row">
						<p>
							Desarrollo del backend y el frontend de la web 
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- PHP<br/> 
						- slim framework <br/> 
						- twig framework <br/> 
						- jquery/javascript <br/>
						- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div>  

	{% endif %}

	{% if id == 7 %}
			<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>KITON: web con grails</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/kiton.png" alt="" data-at2x="../assets/img/portfolio/kiton.png">
						<br/>
					</div>
				
					<div class="row">
					<p>
					Aplicación web y todos los servicios web necesarios para la gestión de todos productos de bq, así como la mejora y automatización de todos los procesos posibles de los diferentes departamentos.
					</p>
					</div> 

					<div class="row">
						<p>
							Full stack developer, creación de servicios, integración con sistemas de terceros...
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
						- Java<br/> 
						- Groovy <br/> 
						- Grails framework <br/>  
						- MySQL <br/>
						- Maven <br/>
						- Api REST <br/>
						- css <br/> 
						- jquery/javascript <br/>
						- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 
 
	{% endif %}

	{% if id == 8 %}
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>Salesforce: ¡la nube, la nube!</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/sf.png" alt="" data-at2x="../assets/img/portfolio/sf.png">
						<br/>
					</div>
				
					<div class="row">
					<p>
					Force.com, diseño de soluciones usando APEX y Visualforce. Integraciones de Salesforce con diferentes entornos.
					</p>
					</div> 

					<div class="row">
						<p>
							Desarrollador principal, ampliación de la lógica del negocio.
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
							- Force.com<br/> 
							- Apex <br/> 
							- Web Services <br/> 
							- Angular Js <br/>
							- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 
  
	{% endif %}

	{% if id == 9 %}
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>Supermarket: Proyecto Fin de Grado UAH</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/supermarket.png" alt="" data-at2x="../assets/img/portfolio/supermarket.png">
						<br/>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/supermarket1.PNG" alt="" data-at2x="../assets/img/portfolio/supermarket1.PNG">
						<br/>
						<br/>
						<br/>
					</div>

					<div class="row">
					<p>
					 Estudio del framework de desarrollo web Struts2: funcionamiento, características y ejemplos para comprenderlo y usarlo de forma correcta.

					 <br/>
					 Incluye ejemplo de uso: <a href="https://github.com/jorgelillo7/SuperMarket" target="_blank"> repositorio </a>
					</p>
					</div> 

					<div class="row">
						<p>
								Proyecto fin de grado 2012-2013 (Grado en ingeniería informática), Universidad de Alcalá de Henares
								<br/>
								Calificación -> Sobresaliente 9,5
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
							- Java<br/> 
							- Struts2 <br/> 
							- Bootstrap <br/> 
							- Postgresql <br/>
							- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div>  
			 
	{% endif %}

{% if id == 10 %}
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p<b>Top Games: Proyecto Fin de Máster UPM</b></p>
					</div>

					<div class="row">
							<img src="../assets/img/portfolio/topgames.png" alt="" data-at2x="../assets/img/portfolio/topgames.png">
						<br/>
						<br/>
						<br/>
						<p>
						 Aplicación web desarrollada en Symfony2 para gestionar listas de videojuegos. Contiene una Api para mandar datos a terceros.
			 
						 <br/>
						 Código -> <a href="https://github.com/jorgelillo7/top_games" target="_blank"> repositorio </a>
						</p>
					<br/>
					<br/>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/topGames1.png" alt="" data-at2x="../assets/img/portfolio/topGames1.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
						Proyecto fin de máster 2014-2015 (Máster en Ingeniería Web), Universidad de Politécnica de Madrid
						<br/>
						Calificación -> Sobresaliente 9
					</p>
					</div> 
					

					<div class="row">
					<p>
					Tecnologías: <br/> 
							- PHP<br/> 
							- Symfony2 <br/> 
							- Bootstrap <br/> 
							- mySQL <br/>
							- GIT <br/>
					</p>
					</div>

				 
				</div>
			</div> 
{% endif %}
        

{% if id == 11 %}
		<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p<b>Top Games Mobile: Proyecto Fin de Máster UPM</b></p>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/topgamesMb.png" alt="" data-at2x="../assets/img/portfolio/topgamesMb.png">
						<br/>
						<br/>
						<br/>
						<p>
						  Aplicación multiplataforma (iOs, android) desarrollada con ionic framework.
						  <br/>
 				 		  Para un correcto funcionamiento es necesario arrancar la aplicación top_games (web) para poder tener acceso a la api.
			 
						 <br/>
						 Código -> <a href="https://github.com/jorgelillo7/top_games_ionic" target="_blank"> repositorio </a>
						</p>
					<br/>
					<br/>
					</div>

					<div class="row">
						<img src="../assets/img/portfolio/topGamesMB1.png" alt="" data-at2x="../assets/img/portfolio/topGamesMB1.png">
						<br/>
						<br/>
					</div>
				
					<div class="row">
					<p>
						Proyecto fin de máster 2014-2015 (Máster en Ingeniería Web), Universidad de Politécnica de Madrid
						<br/>
						Calificación -> Sobresaliente 9
					</p>
					</div> 
					

					<div class="row">
					<p>
					Tecnologías: <br/> 
							- ionic framework. (v.1.5.0)<br/> 
							- Angular js <br/> 
							- Bootstrap <br/> 
							- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 

{% endif %}


	{% if id == 12 %}

	<div style="font-style: normal; font-size: 16px;">
	        	<div class="container">
	        	<br/>
	        		<div class="row">
						<p><b>Chuck Norris Joke Bot: Mi aportación a Telegram</b></p>
					</div>

					<div class="row">
							<img src="../assets/img/portfolio/chuck.jpg" alt="" data-at2x="../assets/img/portfolio/chuck.jpg">
						<br/>
					</div>
				
					<div class="row">
					<p>
					    Bot para telegram el cual nos contesta con una broma basada en Chuck Norris tras seleccionar una de las categorías disponibles. 
					</p>
					</div> 

					<div class="row">
						<p>
							Nacido de la combinación de la api de telegram, un poco de frikismo y la api de <a href="http://www.icndb.com/" target="_blank"> http://www.icndb.com/ </a>
							<br/>
							Código -> <a href="https://github.com/jorgelillo7/ChuckNorrisJokesBot" target="_blank"> repositorio </a>
							<br/>
							URL -> <a href="https://guarded-sea-9422.herokuapp.com/" target="_blank"> Chuck Norris Joke Bot </a>

							
						</p>
					</div> 

					<div class="row">
					<p>
					Tecnologías: <br/> 
								- Node.js<br/> 
								- Heroku <br/> 
								- Telegram Api <br/>  
								- GIT <br/> 
					</p>
					</div>

				 
				</div>
			</div> 
 
	{% endif %}

        <br/>

        

{% endblock %}

