{% extends "layout.html" %}

{% block content %}
 <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-tasks"></i>
                        <h1>Experiencia /</h1>
                        <p>Tecnologías con las que he trabajado</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services Full Width Text -->
        <div class="services-full-width-container">
        	<div class="container">
	            <div class="row">
	                <div class="col-sm-12 services-full-width-text wow fadeInLeft">
	                    <h3>Tecnologías:</h3>
	                    <p>
	                    	Durante estos años he podido usar muchas tecnologías muy diferentes, nunca he tenido problema en aprender a usar una tecnología nueva, no obstante os voy a enumerar las que me siento más cómodo a la hora de programar. 
	                	</p>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row">
			    	<div class="col-sm-3">
				        <div class="service wow fadeInUp">
				            <h3>Java</h3>
					    <progress id ="progressbar" value="80" max="100"></progress>
				            <p>Lenguaje que más he usado y con el que más cómodo me siento (y en todos los que se basan en Java como Grails)</p>
				        </div>
				</div>
				<div class="col-sm-3">
				        <div class="service wow fadeInDown">
				            <h3>GIT</h3>
					    <progress value="80" max="100"></progress>
				            <p>Para el control de versiones</p>
				        </div>
			        </div>
			        <div class="col-sm-3">
				        <div class="service wow fadeInUp">
				            <h3>Javascript</h3>
					    <progress value="80" max="100"></progress>
				            <p>Y jQuery para mejorar la interfaz de usuario y hacer la web dinámica</p>
				        </div>
			        </div>
			        <div class="col-sm-3">
				        <div class="service wow fadeInDown">
				            <h3>Servicios web</h3>
 					    <progress value="75" max="100"></progress>
				            <p>Creación de apis</p>
				        </div>
			        </div>
			</div>
<div class="row">
			<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <h3>CSS</h3>
				    <progress value="35" max="100"></progress>
		                    <p>Para los estilos suelo acabar usando Bootstrap</p>
		                </div>
	                </div>

			<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <h3>PHP</h3>
				    <progress value="45" max="100"></progress>
		                    <p>Para la realización de scripts rápidos, me gusta usar php</p>
		                </div>
	                </div>



</div>

	            </div>
	        </div>
        </div>

        <!-- Services Half Width Text -->
        <div class="services-half-width-container">
        	<div class="container">
	            <div class="row">
	                <div class="col-sm-12 services-half-width-text wow fadeInLeft">
	                    <h3>Actualmente investigando</h3>
	                    <p>
	                    	La última tecnnología que estoy aprendiendo se trata de AngularJS, el cual estamos usando en el proyecto de Salesforce, además en los próximos meses me gustaría dedicar mi tiempo a conocer el desarrollo en Javascript de principio a fin: MEAN -> (M)ongo + (E)xpress + (A)ngular + (N)ode.
	                    </p>
	                </div>
	                
	            </div>
	        </div>
        </div>

        

{% endblock %}
