 <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 footer-box wow fadeInUp">
                        <h4>Sobre mí</h4>
                        <div class="footer-box-text">
	                        <p>
	                        	Desarrollador Software desde hace 4 años. 
                                <br/>En esta web-CV he querido plasmar todo lo que he aprendido en estos años que llevo en trabajando. 
	                        </p>
	                        <p><a href="/about">Leer más...</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 footer-box wow fadeInUp">
                        <h4>Agradecimientos</h4>
			             
        				Andia Agency html template
        				<br/>
                        Desinkraft: <a href="https://twitter.com/desinkraft" target = "_blank">https://twitter.com/desinkraft</a>
			
                       
                    </div>
                    
                    <div class="col-sm-4 footer-box wow fadeInDown">
                        <h4>Contacto</h4>
                        <div class="footer-box-text footer-box-text-contact">
	                        <p><i class="fa fa-map-marker"></i> Dirección: Madrid, Spain</p>
	                        <p><i class="fa fa-phone"></i> Teléfono: 628457303</p>
	                        <p><i class="fa fa-user"></i> Skype: jorgelillo7</p>
	                        <p><i class="fa fa-envelope"></i> Email: <a href="">jorge.lillo9@gmail.com</a></p>
                        </div>
                    </div>
		   
                </div>
                <div class="row">
                	<div class="col-sm-12 wow fadeIn">
                		<div class="footer-border"></div>
                	</div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p>Copyright 2016 Jorge Lillo Cobacho- All rights reserved.</p>
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">
                        
 			        <a href="https://es.linkedin.com/in/jorgelillo" target = "_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/jorgelillo7" target = "_blank"><i class="fa fa-github"></i></a>
			        <a href="https://es-la.facebook.com/jorgelillo7" target = "_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/jorgelillo7" target = "_blank"><i class="fa fa-twitter"></i></a>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/flexslider/jquery.flexslider-min.js"></script>
        <script src="assets/js/jflickrfeed.min.js"></script>
        <script src="assets/js/masonry.pkgd.min.js"></script> 
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/scripts.js"></script>
