{% extends "layout.html" %}

{% block content %}
  <!-- Slider -->
        <div class="slider-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="assets/img/slider/1.png">
                                    <img src="assets/img/slider/1.png">
                                </li>
                                <li data-thumb="assets/img/slider/2.jpg">
                                    <img src="assets/img/slider/2.jpg">
                                    <div class="flex-caption">
                                    	Web developer con varios años de experiencia en ingeniería web
                                    </div>
                                </li> 
                                <li data-thumb="assets/img/slider/3.png">
                                    <img src="assets/img/slider/3.png">
                                    <div class="flex-caption">
                                    	Grado en Ingeniería Informática (Escuela Politécnica de la Universidad de Alcalá de Henares)
                                    	<p></p>
                                    	Especializado en Ingeniería del Software
                                    </div>
                                </li>
                                <li data-thumb="assets/img/slider/4.png">
                                    <img src="assets/img/slider/4.png">
                                    <div class="flex-caption">
                                    	Máster en Ingeniería Web
                                    	 <p></p>
                                    	Impartido en la Escuela de Informática de la Universidad Politécnica de Madrid
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Presentation -->
        <div class="presentation-container">
        	<div class="container">
        		<div class="row">
	        		<div class="col-sm-12 wow fadeInLeftBig">
	            		<h1>Bienvenido a mi web, espero que te guste :)</h1>
	            		<p>Cualquier duda o sugerencia será bienvenida, podeís contactar conmigo desde el apartado de 'Contacto'.</p>
	            	</div>
	            	<div class="col-sm-12 wow fadeInLeftBig">
	            	<p>Aquí podéis descargar la última versión de mi CV en formato pdf</p>
	            	<p><a class="big-link-1" href="../assets/jorgelilloCV.pdf" target="_blank">Descargar CV</a></p>
					</div>
            	</div>
        	</div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-4">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-desktop"></i></div>
		                    <h3>Desarrollador web</h3>
		                    <p>Backend, frontend, integraciones... Lo que surja :)</p>
		                    <p></p>
		                    <a class="big-link-1" href="portfolio">Portfolio</a>
		                </div>
					</div>
					<div class="col-sm-4">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-mobile"></i></div>
		                    <h3>Desarrollo móvil</h3>
		                    <p>Experiencia con android, ios y aplicaciones híbridas</p>
		                     <p></p>
		                    <a class="big-link-1" href="portfolio">Portfolio</a>
		                </div>
	                </div>
	                <div class="col-sm-4">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-tasks"></i></div>
		                    <h3>Experiencia en gestión</h3>
		                    <p>Gestión de Proyectos, Arquitectura del Software, Seguridad Web, ofertas a clientes...</p>
		                    <a class="big-link-1" href="portfolio">Portfolio</a>
		                </div>
	                </div>
	               
	            </div>
	        </div>
        </div>

        <!-- Latest work -->
        <div class="work-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 work-title wow fadeIn">
		                <h2>Últimos trabajos</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                   <img src="assets/img/portfolio/sf.png" alt="" data-at2x="assets/img/portfolio/sf.png">
		                  	<h3>Salesforce CRM</h3>
		                   <p>Force.com, diseño de soluciones usando APEX y Visualforce. Integraciones de Salesforce con diferentes entornos.</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="assets/img/portfolio/sf.png"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="detail/8"><i class="fa fa-link"></i></a>
		                    </div>
		                </div> 
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                  <img src="assets/img/portfolio/kiton.png" alt="" data-at2x="assets/img/portfolio/kiton.png">
		                   	<h3>Kiton</h3>
		                   <p>Aplicación web y todos los servicios web necesarios para la gestión de todos productos de bq, así como la mejora y automatización de todos los procesos posibles de los diferentes departamentos</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="assets/img/portfolio/kiton.png"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="detail/7"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div> 
		            <div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                   	<img src="assets/img/portfolio/chuck.png" alt="" data-at2x="assets/img/portfolio/chuck.png">
		                  	<h3>Chuck Norris JokesBot</h3>
		                    <p>Bot para Telegram de bromas sobre Chuck Norris</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="assets/img/portfolio/chuck.png"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="detail/12"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>  
		            <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                   <img src="assets/img/portfolio/topgames.png" alt="" data-at2x="assets/img/portfolio/topgames.png">		        
		                   	<h3>Top Games</h3>
		                   <p>Proyecto fin de máster 2014-2015 (Máster en Ingeniería Web), Universidad de Politécnica de Madrid.</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="assets/img/portfolio/topgames.png"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="detail/10"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
        </div>

<br/>
<br/>



       

{% endblock %}
