{% extends "layout.html" %}

{% block content %}
  <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-camera"></i>
                        <h1>Portfolio /</h1>
                        <p>Todos los proyectos en los que he trabajado: </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="portfolio-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-12 portfolio-filters wow fadeInLeft">
	            		<a href="#" class="filter-all active">Todas</a> / 
	            		<a href="#" class="filter-web-development">Desarrollo web</a> / 
	            		<a href="#" class="filter-mobile">Desarrollo móvil</a> / 
	            		<a href="#" class="filter-my-projects">Mis proyectos</a>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-12 portfolio-masonry">
		                <div class="portfolio-box web-development">
		                	<a href="detail/1">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/spiber.jpg" alt="" data-at2x="assets/img/portfolio/spiber.jpg">
				                	<div class="portfolio-box-text">
				                		<h3>Spiber</h3>
				                		<p>Aplicación web gestión sociedad médica</p>
				                	</div>
				                </div>
			                </a>
		                </div>
		                <div class="portfolio-box mobile">
		               		<a href="detail/2">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/elmundo.png" alt="" data-at2x="assets/img/portfolio/elmundo.png">
			                		<div class="portfolio-box-text">
			                			<h3>El mundo promociones</h3>
			                			<p>Aplicación android para la gestión de las promociones del periódico El Mundo</p>
			                		</div>
		                		</div>
	                		</a>
		                </div>
		                <div class="portfolio-box mobile">
		                	<a href="detail/3">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/ioncor.png" alt="" data-at2x="assets/img/portfolio/ioncor.png">
			                		<div class="portfolio-box-text">
			                			<h3>iOncor</h3>
			                			<p>Aplicación iOs/Android para la consulta de datos médicos relacionandos con ciertas enfermedades</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box mobile">
		                	<a href="detail/4">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/uda.png" alt="" data-at2x="assets/img/portfolio/uda.png">
			                		<div class="portfolio-box-text">
			                			<h3>UDA: Unidad del dolor agudo</h3>
			                			<p>Aplicación iOS (ipad version) para la gestión de pacientes y control de sus casos</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development">
		              	    <a href="detail/5">
			                	<div class="portfolio-box-container portfolio-video" data-portfolio-big="https://www.youtube.com/watch?v=tFTLxkMmY4M">
				                	<img src="assets/img/portfolio/omni.png" alt="" data-at2x="assets/img/portfolio/omni.png"> 
			                		<div class="portfolio-box-text">
			                			<h3>Omniocio</h3>
			                			<p>Aplicación web: ASP.NET para la gestión de salas infantiles</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development">
		                    <a href="detail/6">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/mice.png" alt="" data-at2x="assets/img/portfolio/mice.png">
			                		<div class="portfolio-box-text">
			                			<h3>The MICE World</h3>
			                			<p>Aplicación web (PHP) para la reserva de lugares de reunión o convenciones</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development">
		                    <a href="detail/7">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/kiton.png" alt="" data-at2x="assets/img/portfolio/kiton.png">
			                		<div class="portfolio-box-text">
			                			<h3>Kiton</h3>
			                			<p>Aplicación web y todos los servicios web necesarios para la gestión de todos productos de bq, así como la mejora y automatización de todos los procesos posibles de los diferentes departamentos</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development">
		                    <a href="detail/8">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/sf.png" alt="" data-at2x="assets/img/portfolio/sf.png">
			                		<div class="portfolio-box-text">
			                			<h3>Salesforce CRM</h3>
			                			<p>Force.com, diseño de soluciones usando APEX y Visualforce. Integraciones de Salesforce con diferentes entornos.</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development my-projects">
		                    <a href="detail/9">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/supermarket.png" alt="" data-at2x="assets/img/portfolio/supermarket.png">
			                		<div class="portfolio-box-text">
			                			<h3>SuperMarket</h3>
			                			<p>Proyecto fin de grado 2012-2013 (Grado en ingeniería informática), Universidad de Alcalá de Henares.</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box web-development my-projects">
		                    <a href="detail/10">
			                	<div class="portfolio-box-container">
			                		<img src="assets/img/portfolio/topgames.png" alt="" data-at2x="assets/img/portfolio/topgames.png">		                	
			                		<div class="portfolio-box-text">
			                			<h3>Top Games</h3>
			                			<p>Proyecto fin de máster 2014-2015 (Máster en Ingeniería Web), Universidad de Politécnica de Madrid.</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box mobile my-projects">
		                	<a href="detail/11">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/topgamesMb.png" alt="" data-at2x="assets/img/portfolio/topgamesMb.png">
			                		<div class="portfolio-box-text">
			                			<h3>Top Games Mobile</h3>
			                			<p>Aplicación móvil iOs/android para acceder a la web Top Games (Ionic Framework)</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
		                <div class="portfolio-box my-projects">
		               		<a href="detail/12">
			                	<div class="portfolio-box-container">
				                	<img src="assets/img/portfolio/chuck.png" alt="" data-at2x="assets/img/portfolio/chuck.png">
			                		<div class="portfolio-box-text">
			                			<h3>Chuck Norris JokesBot</h3>
			                			<p>Bot para Telegram de bromas sobre Chuck Norris</p>
			                		</div>
		                		</div>
		                	</a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

{% endblock %}
