{% extends "layout.html" %}

{% block content %}
  <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-camera"></i>
                        <h1>Portfolio /</h1>
                        <p>Todos los proyectos en los que he trabajado: </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="portfolio-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-12 portfolio-filters wow fadeInLeft">
	            		<a href="#" class="filter-all active">All</a> / 
	            		<a href="#" class="filter-web-development">Web development</a> / 
	            		<a href="#" class="filter-mobile">Mobile</a> / 
	            		<a href="#" class="filter-my-projects">My Projects</a>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-12 portfolio-masonry">
		                <div class="portfolio-box web-development">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work1.jpg" alt="" data-at2x="assets/img/portfolio/work1.jpg">
			                	<div class="portfolio-box-text">
			                		<h3>Spiber</h3>
			                		<p>Aplicación web gestión sociedad médica</p>
			                	</div>
			                </div>
		                </div>
		                <div class="portfolio-box mobile">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work2.jpg" alt="" data-at2x="assets/img/portfolio/work2.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>El mundo promociones</h3>
		                			<p>Aplicación android para la gestión de las promociones del periódico El Mundo</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box mobile">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work3.jpg" alt="" data-at2x="assets/img/portfolio/work3.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>iOncor</h3>
		                			<p>Aplicación iOs/Android para la consulta de datos médicos relacionandos con ciertas enfermedades</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box mobile">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work4.jpg" alt="" data-at2x="assets/img/portfolio/work4.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>UDA: Unidad del dolor agudo</h3>
		                			<p>Aplicación iOS (ipad version) para la gestión de pacientes y control de sus casos</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development">
		                	<div class="portfolio-box-container portfolio-video" data-portfolio-big="https://www.youtube.com/watch?v=tFTLxkMmY4M">
			                	<img src="assets/img/portfolio/work5.jpg" alt="" data-at2x="assets/img/portfolio/work5.jpg">
			                	<i class="portfolio-box-icon fa fa-play"></i>
		                		<div class="portfolio-box-text">
		                			<h3>Omniocio</h3>
		                			<p>Aplicación web: ASP.NET para la gestión de salas infantiles</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work6.jpg" alt="" data-at2x="assets/img/portfolio/work6.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>The MICE World</h3>
		                			<p>Aplicación web (PHP) para la reserva de lugares de reunión o convenciones</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work7.jpg" alt="" data-at2x="assets/img/portfolio/work7.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>Kiton</h3>
		                			<p>Aplicación web y todos los servicios web necesarios para la gestión de todos productos de bq, así como la mejora y automatización de todos los procesos posibles de los diferentes departamentos</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work8.jpg" alt="" data-at2x="assets/img/portfolio/work8.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>Salesforce CRM</h3>
		                			<p>Force.com, diseño de soluciones usando APEX y Visualforce. Integraciones de Salesforce con diferentes entornos.</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development my-projects">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work9.jpg" alt="" data-at2x="assets/img/portfolio/work9.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>SuperMarket</h3>
		                			<p>Proyecto fin de grado 2012-2013 (Grado en ingeniería informática), Universidad de Alcalá de Henares.</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box web-development my-projects">
		                	<div class="portfolio-box-container">
		                		<img src="assets/img/portfolio/work10.jpg" alt="" data-at2x="assets/img/portfolio/work10.jpg">		                	
		                		<div class="portfolio-box-text">
		                			<h3>Top Games</h3>
		                			<p>Proyecto fin de máster 2014-2015 (Máster en Ingeniería Web), Universidad de Politécnica de Madrid.</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box mobile my-projects">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work11.jpg" alt="" data-at2x="assets/img/portfolio/work11.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>Top Games Mobile</h3>
		                			<p>Aplicación móvil iOs/android para acceder a la web Top Games (Ionic Framework)</p>
		                		</div>
	                		</div>
		                </div>
		                <div class="portfolio-box my-projects">
		                	<div class="portfolio-box-container">
			                	<img src="assets/img/portfolio/work12.jpg" alt="" data-at2x="assets/img/portfolio/work12.jpg">
		                		<div class="portfolio-box-text">
		                			<h3>Chuck Norris JokesBot</h3>
		                			<p>Bot para Telegram de bromas sobre Chuck Norris</p>
		                		</div>
	                		</div>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

{% endblock %}
